altgraph==0.17
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
et-xmlfile==1.0.1
future==0.18.2
idna==2.9
jdcal==1.4.1
lxml==4.6.2
numpy==1.18.1
openpyxl==3.0.3
pandas==1.0.1
pefile==2019.4.18
PyInstaller==4.0.dev0+763094c332
python-dateutil==2.8.1
pytz==2019.3
pywin32-ctypes==0.2.0
requests==2.23.0
selenium==3.141.0
six==1.14.0
soupsieve==2.0
urllib3==1.25.8
